In [ ]:
#Realizar la conexion a la BBDD employees
import pymysql
try:
	conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             db='employees')
	print("Conexión correcta")
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
	print("Ocurrió un error al conectar: ", e)

In [ ]:
#Obtenemos los datos de la tabla employees
#Al finalizar escribimos la sentencia 'except' para continuar con la conexión activa
try:
    with conexion.cursor() as cursor:
        # En este caso no necesitamos limpiar ningún dato
        cursor.execute("SELECT * FROM employees;")
 
        # Con fetchall traemos todas las filas
        employees = cursor.fetchall()
 
        # Recorrer e imprimir
        for emp in employees:
            print(emp)
except:
    print('No se pudo realizar la consulta')

#finally:
    #conexion.close()

In [ ]:
#Obtenemos los datos de la tabla employees que sean mujeres
#Al finalizar escribimos la sentencia 'except' para continuar con la conexión activa
try:
    with conexion.cursor() as cursor:
        consulta = "SELECT emp_no, last_name FROM employees WHERE gender ='F';"
        cursor.execute(consulta)
 
        # Con fetchall traemos todas las filas
        employees = cursor.fetchall()
 
        # Recorrer e imprimir
        for emp in employees:
            print(emp)
except:
    print('No se pudo realizar la consulta')

#finally:
    #conexion.close()

In [ ]:
#Obtenemos los datos completos de los departamentos
#Al finalizar escribimos la sentencia 'except' para continuar con la conexión activa
try:
    with conexion.cursor() as cursor:
        # En este caso no necesitamos limpiar ningún dato
        cursor.execute("SELECT * FROM departments;")
 
        # Con fetchall traemos todas las filas
        departments = cursor.fetchall()
 
        # Recorrer e imprimir
        for dept in departments:
            print(dept)
except:
    print('No se pudo realizar la consulta')

#finally:
    #conexion.close()

In [ ]:
#Obtener la cantidad de empleados
 
cursor= conexion.cursor() 

cantidad_total = cursor.execute("SELECT * FROM employees") 
  
print('La cantidad total de empleados es ', cantidad_total)

In [ ]:
#Obtener la cantidad de empleadas mujeres
 
cursor= conexion.cursor() 

cantidad_mujeres = cursor.execute("SELECT * FROM employees WHERE gender ='F';") 
  
print('La cantidad de mujeres es ', cantidad_mujeres)

In [ ]:
#Agregar el departamento Ciencias de Datos.
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            consulta = "INSERT INTO departments(dept_no, dept_name) VALUES (%s, %s);"
            #Podemos llamar muchas veces a .execute con datos distintos
            cursor.execute(consulta, ('d010', 'Data Science'))
            #cursor.execute(consulta, ())
        conexion.commit()
    except:
        print('No se pudo realizar la consulta')
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

In [ ]:
#Insertamos al empleado Pepe
try:
    with conexion.cursor() as cursor:
        consulta = "INSERT INTO employees(emp_no, birth_date, first_name, last_name, gender, hire_date) VALUES (%s, %s, %s, %s, %s, %s);"
        #Podemos llamar muchas veces a .execute con datos distintos
        cursor.execute(consulta, (300025, '1985-03-03','Pepe', 'Sanchez','M','2010-05-05'))
            
    conexion.commit()

except:
    print('No se pudo realizar la consulta')

In [ ]:
#Asignamos a Pepe como gerente del departamento Ciencia de Datos
try:
    with conexion.cursor() as cursor:
        consulta = "INSERT INTO dept_manager(emp_no, dept_no, from_date, to_date) VALUES (%s, %s, %s, %s);"
        #Podemos llamar muchas veces a .execute con datos distintos
        cursor.execute(consulta, (300025, 'd010', '2015-05-05' ,'2021-11-01'))
            
    conexion.commit()

except:
    print('No se pudo realizar la consulta')

In [ ]:
#Eliminamos al empleado Pepe
try:
    with conexion.cursor() as cursor:
        consulta = "DELETE FROM employees WHERE first_name = 'Pepe';"
        cursor.execute(consulta)
        
    conexion.commit()

except:
    print('No se pudo realizar la consulta')