In [35]:
import pymysql
import pandas as pd

class conectarDB():
    def __init__(self,host,user,password,db):
        self.baseDatos = pymysql.connect(host = host,user = user,password = password,db = db)
        self.cursor = self.baseDatos.cursor()
        print("Conectado")
   
    def consultar(self,consulta):
        self.cursor.execute(consulta)
        return self.cursor
    
    def commit(self):
        self.baseDatos.commit()
        return
    
    def dataFrame(self, consulta):
        df = pd.read_sql_query(consulta, self.baseDatos)
        return df

    def close(self):
        self.baseDatos.close()
        print("Desconectado")

In [36]:
base = conectarDB('localhost','root','','employees')
consulta = 'SELECT * FROM departments'
dept = base.consultar(consulta)
#datos = dept.fetchall()
#print(datos)
dept = base.dataFrame(consulta)
dept.head()

Conectado

  dept_no         dept_name
0    d009  Customer Service
1    d010      Data Science
2    d005       Development
3    d002           Finance
4    d003   Human Resources